<div class="title">
  <h1>IS IT...</h1>
</div>

<div class="list">
  <div class="three columns">
    <p> </p>
  </div>

  <div class="ten columns">
    <ul>
      <% @holidays.each do |holiday, date| %>
        <li><a href="/<%= holiday %>"><%= holiday %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="three columns">
    <p> </p>
  </div>
</div>