<!doctype html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>